// en user.p tengo el objeto Player y en user.u el objeto User
// y de la misma fotma con guest
extends layout
block content
  h1(class="header") #{game.game.name}
  p acrual score round #{game.score}
  p #{game.nickname}
  p Cards
  for card in game.cartas
    form(role='form', action="#{card.show()afeshwemgo8vtrb8wham}",method="post")
      .form-group
        button.btn.btn-primary(value=card) #{card.show()}
  
  p Board
  for card in game.cartas
    p #{card.show()}
  p lets's play
  div(class='btn-group btn-group-lg')
    if(game.plays.indexOf('envido')>0)
      a(href="#" onclick="foo()" type="button" class="btn btn-primary") envido
    if(game.plays.indexOf('truco')>0)
      a(href="#" type="button" class="btn btn-primary") truco
    if(game.plays.indexOf('realenvido')>0)
      a(href="#" type="button" class="btn btn-primary") realenvido
    if(game.plays.indexOf('faltaenvido')>0)
      a(href="#" type="button" class="btn btn-primary") faltaenvido
    if(game.plays.indexOf('retruco')>0)
      a(href="#" type="button" class="btn btn-primary") retruco
    if(game.plays.indexOf('valecuatro')>0)
      a(href="#" type="button" class="btn btn-primary") valecuatro
    
