
// en user.p tengo el objeto Player y en user.u el objeto User
// y de la misma fotma con guest
extends layout
block content
  script.
    //Sacar el gameId del query
    var url = window.location.href;
    var gameId = url.split('?')[1];
    socket = io('/play',{ query: gameId});
    function foo(el) {
        var carta = $(el).attr('value');
        socket.emit('cardClicked',carta);
        window.alert(carta);
    }

    socket.on('Holis',function(data) {
      console.log("Estoy en la room",data);
    });


  h1(class="header") #{game.game.name}
  p #{game.nickname}
  if(game.board)
    div(class="mesa")
      p acrual score round #{game.score}
      for card in game.board[0]
        p #{card.show()}
      for card in game.board[1]
        p #{card.show()}
  
  div(class="center")
    for card in game.cartas
      img(class="card", width="90", height="120", OnClick="foo(this);",value="#{card.number} de #{card.suit}",src="/images/cartas/#{card.number}-#{card.suit}.png")
  
  div
    div(class='btn-group btn-group-lg')
      if(game.plays.indexOf('envido')>0)
        a(href="#" onclick="foo()" type="button" class="btn btn-primary") envido
      if(game.plays.indexOf('truco')>0)
        a(href="#" type="button" class="btn btn-primary") truco
      if(game.plays.indexOf('realenvido')>0)
        a(href="#" type="button" class="btn btn-primary") realenvido
      if(game.plays.indexOf('faltaenvido')>0)
        a(href="#" type="button" class="btn btn-primary") faltaenvido
      if(game.plays.indexOf('retruco')>0)
        a(href="#" type="button" class="btn btn-primary") retruco
       if(game.plays.indexOf('valecuatro')>0)
        a(href="#" type="button" class="btn btn-primary") valecuatro
    
  
