
// en user.p tengo el objeto Player y en user.u el objeto User
// y de la misma fotma con guest
extends layout
block content
  script.
    //Sacar el gameId del query
    var url = window.location.href;
    var gameId = url.split('?')[1];
    socket = io('/play',{ query: gameId});
    //socket.join(playSpace);
    function foo(index,player) {
        socket.emit('playCard',{player:player,index:index});
    };
    
    $( document ).ready(function() {
        socket.emit('update cards');
    });
    
    socket.on('update cards done',function (data) {
        var board = data.board;
        var score = data.score;
        console.log(board[0]);
    });
    
    function test() {
      socket.emit('test');
    }

    function cantar(player,jugada) {
      socket.emit('jugada',{player:player,play:jugada});
    }

    socket.on('cartaJugada',function (data) {
        var hand = $("#hand td");
        hand.eq(data.index).remove();        
    })

    socket.on('updateBoard',function (data) {
        var card = data.cartaJugada.number.toString()+"-"+data.cartaJugada.suit;
        var g = document.getElementById("board0");
        g.innerHTML = g.innerHTML+'<img width="90", height="120", src="/images/cartas/'+card+'.png" ></img>';
    })

    socket.on('invalidTurn',function () {
        window.alert("Espera tu turno!")
    })

    socket.on('cantaron',function(data) {
        var r = confirm("cantaron "+data.jugada+" queres?");
        if(r){
            socket.emit('quiero',{player:'!{game.player}',jugada:"quiero"});
        }else{
            socket.emit('quiero',{player:'!{game.player}',jugada:"no_quiero"});
        }
    })

    socket.on('nuevaRonda',function() {
      window.alert("SE ESTA JUGANDO UNA NUEVA RONDA");
    });
    


  h1(class="header") #{game.game.name}
  if(game.board)
    div(class="mesa")
      p acrual score round #{game.game.score}
      p(id="board0")
        each card, index in game.board[0]
          img(width="90", height="120" ,src="/images/cartas/#{card.number}-#{card.suit}.png")
      p(id="board1")
        each card, index in game.board[0]
          img(width="90", height="120" ,src="/images/cartas/#{card.number}-#{card.suit}.png")

  a(href="#" onclick="test();" type="button" class="btn btn-primary") TEST
  
  div(class="center")
    table
      tr(id="hand")
        each card,index in game.cartas
          td
            img(class="card", id="card#{index}",width="90", height="120", OnClick="foo(this.parentNode.cellIndex,'#{game.player}');",src="/images/cartas/#{card.number}-#{card.suit}.png")
  
  div
    div(class='btn-group btn-group-lg')
      if(game.plays.indexOf('envido')>0)
        a(href="#" onclick="cantar('#{game.player}','envido');" type="button" class="btn btn-primary") envido
      if(game.plays.indexOf('truco')>0)
        a(href="#" onclick="cantar('#{game.player}','truco');" type="button" class="btn btn-primary") truco
      if(game.plays.indexOf('realenvido')>0)
        a(href="#" onclick="cantar('#{game.player}','realenvido');" type="button" class="btn btn-primary") realenvido
      if(game.plays.indexOf('faltaenvido')>0)
        a(href="#" onclick="cantar('#{game.player}','faltaenvido');" type="button" class="btn btn-primary") faltaenvido
      if(game.plays.indexOf('retruco')>0)
        a(href="#" onclick="cantar('#{game.player}','retruco');" type="button" class="btn btn-primary") retruco
       if(game.plays.indexOf('valecuatro')>0)
        a(href="#" onclick="cantar('#{game.player}','valecuatro');" type="button" class="btn btn-primary") valecuatro
    
  
