// en user.p tengo el objeto Player y en user.u el objeto User
// y de la misma fotma con guest
extends layout
block content
  h1(class="header") #{game.game.name}
  p acrual score round #{game.score}
  p #{game.nickname}
  p Cards
  for card in game.cartas
    form(role='form', action="#{card.show()afeshwemgo8vtrb8wham}",method="post")
      .form-group
        button.btn.btn-primary(value=card) #{card.show()}
  
  p Board
  for card in game.cartas
    p #{card.show()}
  p lets's play
  for play in game.plays
    form(role="form", action="#",method="post")
      .form-group
        button.btn.btn-primary(value=play) #{play}
