// en user.p tengo el objeto Player y en user.u el objeto User
// y de la misma fotma con guest
extends layout
block content
  h1 Gran truco Argentino
  h2 #{game.name} 
  #left-column.column
    p acrual score round #{score}
    if game.currentRound.board
      h3 board
    if (game.currentRound.board[0][0])
      p cartas en la mesa de #{user.u.username}
      p #{game.currentRound.board[0][0].show()}
      if (game.currentRound.board[0][1])
        p #{game.currentRound.board[0][1].show()}
        if (game.currentRound.board[0][2])
          p #{game.currentRound.board[0][2].show()}

    if (game.currentRound.board[1][0])
      p cartas en la mesa de #{guest.u.username}
      p #{game.currentRound.board[1][0].show()}
      if (game.currentRound.board[1][1])
        p #{game.currentRound.board[1][1].show()}
        if (game.currentRound.board[1][2])
          p #{game.currentRound.board[1][2].show()}
    
  // es el turno del player 1
  #right-column.column
    - if (currentTurn=="player1")
      p es el turno de #{user.u.username} puntos del envido #{user.p.envidoPoints}
      
      
      form(role='form', action="/changePlayer?gameID="+gameID,method="post", style='max-width: 300px;')
        .form-group
          if user.p.cards[0]
            input.form-control(value="#{user.p.cards[0].number} de #{user.p.cards[0].suit}",type="submit",name="playCard") 
          if user.p.cards[1]
            input.form-control(value="#{user.p.cards[1].number} de #{user.p.cards[1].suit}",type="submit",name="playCard")  
          if user.p.cards[2]
            input.form-control(value="#{user.p.cards[2].number} de #{user.p.cards[2].suit}",type="submit",name="playCard") 
          br
          br
          - if (game.currentRound.fsm.can('truco')) 
            input.form-control(value="truco",type="submit",name="jugada")
          - if (game.currentRound.fsm.can('envido')) 
            input.form-control(value="envido",type="submit",name="jugada")
  
    //es el turno del player 2
    - if (currentTurn=="player2")
      p es el turno de #{guest.u.username} puntos del envido #{guest.p.envidoPoints}
      form(role='form', action="/changePlayer?gameID="+gameID,method="post", style='max-width: 300px;')
        .form-group
          if guest.p.cards[0]
            input.form-control(value="#{guest.p.cards[0].number} de #{guest.p.cards[0].suit}",type="submit",name="playCard") 
          if guest.p.cards[1]
            input.form-control(value="#{guest.p.cards[1].number} de #{guest.p.cards[1].suit}",type="submit",name="playCard")  
          if guest.p.cards[2]
            input.form-control(value="#{guest.p.cards[2].number} de #{guest.p.cards[2].suit}",type="submit",name="playCard") 
          br
          br
          - if (game.currentRound.fsm.can('truco')) 
            input.form-control(value="truco",type="submit",name="jugada")
          - if (game.currentRound.fsm.can('envido')) 
            input.form-control(value="envido",type="submit",name="jugada")
