// en user.p tengo el objeto Player y en user.u el objeto User
// y de la misma fotma con guest
extends layout
block content
  h1 Gran truco Argentino
  h3 #{game.name}
  
  // es el turno del player 1
  - if (currentTurn=="player1")
    p es el turno de #{user.u.username}
    
    
    form(role='form', action="/changePlayer?gameID="+gameID,method="post", style='max-width: 300px;')
      .form-group
        input.form-control(value="#{user.p.cards[0].number} de #{user.p.cards[0].suit}",type="submit",name="playCard") 
        input.form-control(value="#{user.p.cards[1].number} de #{user.p.cards[1].suit}",type="submit",name="playCard")  
        input.form-control(value="#{user.p.cards[2].number} de #{user.p.cards[2].suit}",type="submit",name="playCard") 
        br
        br
        input.form-control(value="truco",type="submit",name="jugada")
        input.form-control(value="envido",type="submit",name="jugada")
        br
        input.form-control(value="quiero",type="submit",name="jugada")
        input.form-control(value="no-quiero",type="submit",name="jugada")

  //es el turno del player 2
  - if (currentTurn=="player2")
    p es el turno de #{guest.u.username}
