// en user.p tengo el objeto Player y en user.u el objeto User
// y de la misma fotma con guest
extends layout
block content
  script.
    function foo(index,player) {
        console.log(index,player);
        socket.emit('playCard',{player:player,index:index});
    }
  h1(class="header") #{game.game.name}
  p #{game.nickname}
  if(game.board)
    div(class="mesa")
      p acrual score round #{game.score}
      for card in game.board[0]
        p #{card.show()}
      for card in game.board[1]
        p #{card.show()}
  
  div(class="center")
    each card,index in game.cartas
      img(class="card", width="90", height="120", OnClick="foo(#{index},'#{game.player}');",src="/images/cartas/#{card.number}-#{card.suit}.png")
  
  div
    div(class='btn-group btn-group-lg')
      if(game.plays.indexOf('envido')>0)
        a(href="#" onclick="foo()" type="button" class="btn btn-primary") envido
      if(game.plays.indexOf('truco')>0)
        a(href="#" type="button" class="btn btn-primary") truco
      if(game.plays.indexOf('realenvido')>0)
        a(href="#" type="button" class="btn btn-primary") realenvido
      if(game.plays.indexOf('faltaenvido')>0)
        a(href="#" type="button" class="btn btn-primary") faltaenvido
      if(game.plays.indexOf('retruco')>0)
        a(href="#" type="button" class="btn btn-primary") retruco
       if(game.plays.indexOf('valecuatro')>0)
        a(href="#" type="button" class="btn btn-primary") valecuatro
    
  
